<div class="mt-5">
<p-fieldset legend="A la hora de viajar" [toggleable]="true" [collapsed]="true" >
    <p-fieldset legend="Eligiendo como viajar..." [toggleable]="true" [collapsed]="true">
        <p>Si no tienes que volar, no vueles. Si tu viaje permite cambiar el avión por el tren hazlo.
            Si tienes que volar, utiliza una aerolínea responsable que intente proteger el medio ambiente y viaja en
            aviones grandes
            (en vez de en chárter privados o aviones pequeños).</p>
    </p-fieldset>
    <p-fieldset legend="Eligiendo alojamiento..." [toggleable]="true" [collapsed]="true">

        <p>NO APOYES NI UTILICES ALOJAMIENTOS AIRBNB O SIMILARES
            Este tipo de alojamiento carece de control. El aumento de este tipo de turismo es destructivo para la gente
            local y para el medioambiente. Los alquileres ofrecidos en AIRBNB o parecidos no respetan muchas veces las
            leyes y reglamentos locales y muchos de ellos ni siquiera pagan impuestos. Apoya a los hoteles y a los
            alojamientos registrados de forma regular.</p>
    </p-fieldset>
    <p-fieldset legend="Cuando estes en un hotel..." [toggleable]="true" [collapsed]="true">
        <p>Hoy en día hay toallas que no pesan nada y se secan enseguida de forma natural, por lo que te pedimos que
            lleves siempre tu propia toalla en tus viajes. Es totalmente ridículo que los hoteles y otros alojamientos
            laven las toallas cada día. Si no lo haces en casa, no es necesario que te lo hagan cuando viajas. De esta
            forma ahorrarás mucha agua y energía, además de evitar la destrucción del medioambiente con químicos
            totalmente incesarios.</p>
    </p-fieldset>
    <p-fieldset legend="Vuelos largos..." [toggleable]="true" [collapsed]="true">
        <p>Para ahorrar combustible, la mejor longitud de vuelo ha de ser de aproximadamente 4,828 kilómetros.
            Los vuelos más largos necesitan más combustible,
            lo que hace que el avión sea más pesado y menos eficiente, por lo que su huella de carbono por kilómetro
            aumenta.</p>
    </p-fieldset>
    <p-fieldset legend="Equipaje..." [toggleable]="true" [collapsed]="true">
        <p>Cuanto más pesado es tu equipaje, más peso ha de transportar el avión y por lo tanto menos eficiente será su
            uso de energía.
            Mantén tu equipaje ligero, lo cual te resultara además mucho más práctico.</p>
    </p-fieldset>
    <p-fieldset legend="Eligiendo una clase..." [toggleable]="true" [collapsed]="true">
        <p>Cuantos más pasajeros lleve un avión, más eficiente se vuelve el uso de energía.
            Un avión puede llevar más pasajeros si la clase business y la clase de primera permite el mayor espacio
            disponible al resto de los pasajeros,
            por lo que habrá menor número de pasajeros. Estas secciones puestas al día, dispondrán también de asientos
            más robustos,
            que permitirán guardar más equipaje y una mayor numero de facilidades para los pasajeros.</p>

    </p-fieldset>
    <p-fieldset legend="Cuando elijas un aeropuerto..." [toggleable]="true" [collapsed]="false" [collapsed]="true">

        <p>Elige un aeropouerto ecológico
            ¿Qué es un aeropuerto ecológico? Factores como sus programas de reciclaje, diseño de edificios sostenibles,
            reducción de la contaminación acústica y control de emisiones para vehículos aeroportuarios.
            Los aeropuertos reconocidos por sus esfuerzos ambientales incluyen el Aeropuerto Internacional Logan de
            Boston, el Aeropuerto de Zurich y el Aeropuerto de East Midlands en Inglaterra. </p>
    </p-fieldset>
    <p-fieldset legend="Cuando viajes..." [toggleable]="true" [collapsed]="true">
        <p>Busca un estilo de viaje que tenga algo más que ofrecer no solamente para ti, sino también para la comunidad
            local que visites y para el medioambiente.
            Utiliza proveedores que ayuden a proteger el medioambiente. Busca excursiones con valor añadido.
            Por ejemplo, puedes ir a plantar árboles durante tu viaje, ayudar a quitar basura de la naturaleza, etc.</p>
    </p-fieldset>
    <p-fieldset legend="Tu coche.." [toggleable]="true" [collapsed]="true">
        <p>Si necesitas seguir utilizando tu coche, mantenlo en buen estado. Los autos con el mantenimiento adecuado,
            como las llantas infladas correctamente, generan menos emisiones de gases de efecto invernadero, además de
            que no te dejarán tirado en el camino.
        </p>
    </p-fieldset>
    <p-fieldset legend="El transporte con otra persona..." [toggleable]="true" [collapsed]="true">
        <p>Muchos trayectos no justifican el uso del automóvil donde viajan una o dos personas.
            Si puedes, coge transporte público o viaja en grupo.
            Si puedes, en vez de coger el taxi, vete andando o en bicicleta.</p>
    </p-fieldset>
</p-fieldset>
<p-fieldset legend="Electricidad" [toggleable]="true" [collapsed]="true">
    <p-fieldset legend="Cuando cargues aparatos electricos..." [toggleable]="true" [collapsed]="true">
        <p>Desconecta todos los cargadores de electricidad si no los estás utilizando o no necesitas tener tus aparatos
            conectados.
            Aunque los cargadores no están en uso directo siguen consumiendo energía y contribuyen al calentamiento
            global, por eso se llaman “vampiros de energía”.</p>
    </p-fieldset>
    <p-fieldset legend="Agua y luces..." [toggleable]="true" [collapsed]="true">
        <p>Utiliza solamente el agua que sea imprescindible. ¡No gastes agua de más!
            Haz lo mismo con la luz o, mejor dicho, con toda la energía.
            No hay razón para gastar estos recursos más de lo necesario.</p>
    </p-fieldset>
    <p-fieldset legend="Tu nevera..." [toggleable]="true" [collapsed]="true">
        <p>Parece una tontería, pero cuantas más bolsas de plástico y paquetes haya en tu frigorífico más consumo
            eléctrico generas,
            ya que el aparato necesita más potencia para enfriar los alimentos. </p>
    </p-fieldset>
    <p-fieldset legend="Aparatos electricos..." [toggleable]="true" [collapsed]="true">
        <p>Algunos de los electrodomésticos de tu casa consumen más de lo que crees y no en todos los casos es necesario
            que estén siempre enchufados. No te pedimos que desenchufes el frigorífico (a no ser que te cojas unas
            largas vacaciones), pero ¿qué sentido tiene tener en stand-by la tele y el DVD y la minicadena y el
            portátil? ¿Por qué tener enchufados tres o cuatro cargadores que no están conectados a ningún móvil ni
            tablet? Y mejor no hablar de dejarse encendidas las luces de habitaciones en las que no hay nadie. Este
            frente de batalla es fundamental y además de reducir tu huella de carbono te ayudará a ahorrar en tu factura
            eléctrica.</p>
    </p-fieldset>
    <p-fieldset legend="Planchar..." [toggleable]="true" [collapsed]="true">
        <p>La plancha es un aparato de uso cotidiano que consume una gran cantidad de energía. Utilizarla de manera
            ordenada te permite ahorrar energía y reducir gastos: intenta planchar la mayor cantidad posible de ropa
            cada vez que la enciendas, ya que conectar y desconectar muchas veces la plancha consume más energía que
            mantenerla encendida un tiempo. También es recomendable desconectar la plancha un poco antes de terminar
            para aprovechar la temperatura acumulada.</p>
    </p-fieldset>
    <p-fieldset legend="Lamparas..." [toggleable]="true" [collapsed]="true">

        <p>Utiliza bombillas de bajo consumo (lámparas fluorescentes compactas) en vez de focos incandescentes: usan
            entre un 50% y un 80% menos de energía, producen la misma cantidad de luz y duran diez veces más. También
            puedes optar por las lámparas LEDS, que también consumen mucho menos y tienen una duración aproximada de
            70.000 horas, por lo que pueden llegar a durar hasta 50 años.

            Además, si optas por pintar el interior de tu casa con colores claros, también necesitarás menos energía
            para iluminarla: la luz de tus bombillas se reflejará mucho mejor y necesitarás menos iluminación artificial
        </p>
    </p-fieldset>
    <p-fieldset legend="La temperatura de tu casa..." [toggleable]="true" [collapsed]="true">
        <p>Si instalas toldos de lona, aleros inclinados, persianas de aluminio o vidrios polarizados en las ventanas
            evitarás que el sol alcance directamente el interior de tu vivienda y la refrescarás con un gasto menor que
            si utilizaras aire acondicionado. Además, utilizando un aislamiento adecuado en techos y paredes se puede
            mantener una temperatura agradable y reducir el uso tanto de calefacción como de aire acondicionado. Si
            utilizas estos sistemas, no te olvides de controlar el termostato: se recomienda mantenerlo a no más de 18°C
            en invierno y a no más de 25°C en verano.</p>
    </p-fieldset>
</p-fieldset>
<p-fieldset legend="Que puedes hacer desde casa" [toggleable]="true" [collapsed]="true">

    <p-fieldset legend="Cuando compres ropa.." [toggleable]="true" [collapsed]="true">
        <p>No compres ropa que deje huella de plástico. Cientos de miles de micropartículas de plástico se desprenden
            con cada lavado de ropa. La ropa de poca calidad que no dura y tienes que cambiarla cada año tiene efectos
            devastadores en el medioambiente. Compra ropa duradera producida tu país y en fábricas responsables con el
            medioambiente. Evita comprar ropa fabricada en China, Bangadesh o cualquier destino que esté lejos de ti.
            Así eliminarás el transporte innecesario y apoyarás a los fabricantes locales. Deja secar tu ropa sin
            utilizar secadora, ya que esta produce una gran cantidad de CO2. Además, cuando lavas la ropa, intenta
            lavarla en agua fría, así evitarás lanzar a la atmósfera una gran cantidad de dióxido de carbono.</p>
    </p-fieldset>
    <p-fieldset legend="Que debes saber de los proveedores.." [toggleable]="true" [collapsed]="true">
        <p>Empieza a elegir con más cuidado a tus proveedores. No compres cosas de las empresas que están destruyendo el
            medioambiente. Elige proveedores para tus viajes que son responsables con el medioambiente y que intentan
            reducir al máximo posible su huella de carbono. </p>

    </p-fieldset>
    <p-fieldset legend="A la hora de comer.." [toggleable]="true" [collapsed]="true">
        <p>ntenta no comer carne (da igual que sea de cerdo, ternara, pollo u otras) que provenga de grandes fábricas y
            cuyos animales no han sido criados de manera natural y local. El proceso para llevar la carne a tu mesa
            gasta una gran cantidad de energía y es muy malo no solamente para los mismos animales sino también para
            todo el planeta. Lo ideal sería reducir las comidas con carne y productos lácteos al mínimo y comer
            verduras, frutas y judías producidas localmente. No tires comida y si hay algo que tienes que echar,
            compóstalo.</p>


    </p-fieldset>
    <p-fieldset legend="Cuando vayas a comprar.." [toggleable]="true" [collapsed]="true">
        <p>Compra solamente lo que necesites. Hoy en día la gente compra muchas cosas innecesarias que están destruyendo
            nuestro planeta. Si estás comprando por ejemplo un souvenir para ti o para otra persona, pregúntate a ti
            mismo y sé sincero. ¿Vas a tenerlo para un año o para toda tu vida? Si tu respuesta es un año, ¡no lo
            compres! Y compra cosas recicladas siempre que sea posible. </p>
    </p-fieldset>
    <p-fieldset legend="Usando plastico.." [toggleable]="true" [collapsed]="true">

        <p>Te pedimos que no utilices bolsas de plástico ni botellas de plástico de un solo uso. Trae tu botella
            reutilizable y no compres agua en plástico cuando viajas.No
            compres productos que utilicen paquetes de plásticos innecesarios. No apoyes a estas compañías comprando sus
            productos.</p>
    </p-fieldset>
    <p-fieldset legend="Las plantas.." [toggleable]="true" [collapsed]="true">
        <p>Las plantas propias de la localidad donde vives no requieren demasiado uso de agua, y sus beneficios son
            mayores al absorber el CO2 del aire. Lo mejor sería que plantaras un árbol, pero si no cuentas con el
            espacio o las condiciones necesarias, puedes explorar algunas ideas alternativas como los jardines
            verticales.</p>
    </p-fieldset>

    <p-fieldset legend="Recuerda.." [toggleable]="true" [collapsed]="true">
        <p>Procura aplicar siempre que puedas esta regla: REDUCE, REUTILIZA y RECICLA.</p>
    </p-fieldset>

</p-fieldset>
</div>