
<script src="https://accounts.google.com/gsi/client" onload="initClient()" async defer></script>
  
<app-header>

</app-header>
 <div class="container overflow-hidden">

<!--
  <script>
   
  </script>
  <h1>Google Identity Services Authorization Token model</h1>
  <button onclick="getToken();">Get access token</button><br><br>
  <button onclick="loadCalendar();">Load Calendar</button><br><br>
  <button onclick="revokeToken();">Revoke token</button>



    "

  <h1>{{title}}!</h1>
<app-clientes></app-clientes>

  //esto indica donde se van a renderizar y mostrar el contenido de cada ruta que seleccionemos<-->
  <router-outlet></router-outlet>
</div>
