<div style="margin-top: 3%;" class="card border-primary text-center">
    <div class="card-header bg-dark text-white">{{titulo}}</div>
    <div class="card-body">
        <form #electricidadForm="ngForm">
            <div class="form-group row">


                <div class="col-lg-3 col-sm-12">
                  
                    <p-dropdown [options]="electrodomesticos"  placeholder="ELECTRODOMÉSTICO" [showClear]="true"
                        [(ngModel)]="electrodomestico.tipo" name="tipo" [required]="true"></p-dropdown>
                </div>

                <div class="col-lg-3 col-sm-12">
                
                    <p-dropdown [options]="paises" placeholder="PAIS" optionLabel="name" [showClear]="true"
                        optionValue="code" [(ngModel)]="electrodomestico.country" name="pais" [required]="true">
                    </p-dropdown>
                </div>

                <div class="col-lg-3 col-sm-12">
                   
                    <p-dropdown [options]="medidas" placeholder="MEDIDA" optionLabel="name" [showClear]="true"
                        #medida="ngModel" optionValue="code" [(ngModel)]="electrodomestico.electricity_unit"
                        name="medida" [required]="true"></p-dropdown>
                </div>
               
                <div class="col-lg-3 col-sm-12">                   
                    <p-inputNumber name="consumo" placeholder="CONSUMO" [(ngModel)]="electrodomestico.electricity_value" mode="decimal"
                        [minFractionDigits]="2" [maxFractionDigits]="2" [required]="true" [min]="0"></p-inputNumber>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-lg-12 col-sm-12"> <button role="button" class="btn btn-info float-right"
                        (click)='addConsumo()' [disabled]="!electricidadForm.form.valid">Añadir consumo</button></div>
                <div class="col-lg-12 col-sm-12" *ngIf="!electricidadForm.form.valid">Todos los campos deben de estar
                    rellenos</div>
            </div>
            <div class="form-group row">

                <div *ngIf="electrodomesticosAnanidos?.length == 0" class="col-sm-12 alert alert-dark" role="alert">
                    No hay ningún electrodoméstico añadido
                </div>
                <table class="table table-bordered table-striped" *ngIf="electrodomesticosAnanidos?.length>0">
                    <thead>
                        <tr>
                            <th>Electrodomestico</th>
                            <th>Pais</th>
                            <th>Medida</th>
                            <th>Consumo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let elec of electrodomesticosAnanidos">
                            <td>{{elec.tipo}}</td>
                            <td>{{elec.country}}</td>
                            <td>{{elec.electricity_unit}}</td>
                            <td>{{elec.electricity_value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="electrodomesticosAnanidos?.length != 0">
                <button class="btn btn-rounded btn-danger" name="eliminar" type="button"
                    (click)="delete()">Eliminar</button>
            </div>


            <div class="form-group row">
                <button role="button" class="btn btn-info float-right" (click)='calcularElectricidad()'
                    *ngIf="electrodomesticosAnanidos?.length>0">Calcular huella</button>
                <div class="col-lg-3 col-sm-12">
                    <button role="button" class="btn btn-info float-left" (click)='anadir()'
                        *ngIf="electrodomesticosAnanidos?.length>0">Añadir a Bitácora</button>
                </div>
            </div>
        </form>

    </div>


</div>

<div class="col text-center" style="margin-top: 3%;">
    <img src={{consejos}} class="card-img-top" alt="..." style="width:380px;height: 250px;">
</div>
<p-carousel [value]="soluciones" [circular]="true">
    <ng-template let-car pTemplate="item">
        <ng-container>
            <p class="carousel">
                {{randomItem}}
            </p>
        </ng-container>
    </ng-template>
</p-carousel>