<div style="margin-top: 2%;" class="card border-primary text-center ">
  <div class="card-header bg-dark text-white"> {{titulo}}</div>
  <div class="card-body">

    <form #vuelosForm="ngForm">
      <div class="form-group row">
        <label for="origen" class="col-form-label  col-lg-3 col-sm-12">Origen</label>
        <div class="col-lg-3 col-sm-12">
          <p-dropdown [options]="paises" placeholder="Elige el pais" optionLabel="name" [showClear]="true"
            optionValue="name" [(ngModel)]="paisOrigen" name="pais" (onChange)="getAeropuertosO($event)"
            [required]="true"></p-dropdown>

        </div>
        <div class="col-lg-3 col-sm-12">
          <p-dropdown [options]="aeropuertosOrigen" placeholder="Elige el aeropuerto" optionLabel="nombre"
            [showClear]="true" optionValue="codigo" [(ngModel)]="tramo.from" name="aereopuertoO" [required]="true">
          </p-dropdown>

        </div>
      </div>

      <div class="form-group row">
        <label for="destino" class="col-form-label col-lg-3 col-sm-12">Destino</label>
        <div class="col-lg-3 col-sm-12">
          <p-dropdown [options]="paises" placeholder="Elige el pais" optionLabel="name" [showClear]="true"
            optionValue="name" [(ngModel)]="paisDestino" name="pais" (onChange)="getAeropuertosD($event)"
            [required]="true"></p-dropdown>

        </div>
        <div class="col-lg-3 col-sm-12">
          <p-dropdown [options]="aeropuertosDestino" placeholder="Elige el aeropuerto" optionLabel="nombre"
            [showClear]="true" optionValue="codigo" [(ngModel)]="tramo.to" name="aereopuerto" [required]="true">
          </p-dropdown>

        </div>
      </div>

      <div class="form-group row">
      
        <label for="pasajeros" class="col-form-label col-lg-3 col-sm-12">Pasajeros</label>
        <div class="col-lg-3 col-sm-12">

          <p-inputNumber [(ngModel)]="tramo.passengers" name="pasajeros" [required]="true" [min]="0"></p-inputNumber>
        </div>
      </div>

      <div class="col-lg-12 col-sm-12" *ngIf="!vuelosForm.form.valid">Todos los campos deben de estar rellenos</div>


      <div class="form-group row">

        <div class="col-sm-12 "> <button role="button" class="btn btn-info float-right" (click)='addTramo()'
            [disabled]="!vuelosForm.form.valid">Añadir
            tramo</button></div>
      </div>



      <div class="form-group row">


        <div *ngIf="tramos?.length == 0" class="col-sm-12 alert alert-dark" role="alert">
          No hay ningún tramo añadido
        </div>
        <table class="table table-bordered table-striped" *ngIf="tramos?.length>0">
          <thead>
            <tr>
              <th>Origen</th>
              <th>Destino</th>
              <th>Pasajeros</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tramo of tramos">
              <td>{{tramo.from}}</td>
              <td>{{tramo.to}}</td>
              <td>{{tramo.passengers}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-rounded btn-danger" name="eliminar" type="button" (click)='delete()'
        *ngIf="tramos?.length>0">Eliminar tramos</button>

      <div class="form-group row">
        <div class="col-sm-12">
          <button role="button" class="btn btn-info float-right" (click)='calcularVuelos()'
            *ngIf="tramos?.length>0">Calcular huella</button>
          <button role="button" class="btn btn-info float-left" (click)='anadir()' *ngIf="tramos?.length>0">Añadir a
            Bitácora</button>
          <ng-template #elseBlock>

          </ng-template>
        </div>
      </div>


    </form>

  </div>
</div>
<div class="col text-center" style="margin-top: 2%;">
  <img src={{consejos}} class="card-img-top" alt="..." style="width:380px;height: 250px;">
</div>

<p-carousel [value]="soluciones" [circular]="true">
  <ng-template let-car pTemplate="item">
    <ng-container>
      <p class="carousel">
        {{randomItem}}
      </p>
    </ng-container>
  </ng-template>
</p-carousel>